html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.main-content {
  display: flex;
  flex: 1 1 0;
  min-height: 0;
}

.sound-preloaded{
  color: green;
  margin-left: 5px;
}



