.sidebar {
  width: 260px;
  overflow-y: auto;
  background: #f5f5f5;
  border-right: 1px solid #ddd;
  padding: 1rem 0;
}

.sidebar-item {
  cursor: pointer;
  padding: 0.3em 1em;
  transition: background 0.2s linear;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-item.selected {
  background: #eac94f;
}