.sidebar {
  min-width: 200px;
  max-width: 600px;
  height: 100%;
  overflow-y: auto;
  background: #f5f5f5;
  border-right: 1px solid #ddd;
  padding: 1rem 0;
}

.sidebar-item {
  cursor: pointer;
  padding: 0.3em 1em;
  transition: background 0.2s linear;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-item.selected {
  background: #0fd480;
    border: 3px solid #ffe30f;
}

.sidebar-item.nextSidebarItem {
  background: #eac94f;
}

.sidebar-filters {
  display: flex;
  align-items: center; /* optional: vertical centering if needed */
}

.sidebar-filter {
  padding: 0 1em;
}

.sidebar-divider {
  width: 5px;
  cursor: col-resize;
  background: #eee;
  height: 100%;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.5em 0.5em 0;
}

.sidebar-toggle-btn {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #888;
  padding: 0.2em 0.5em;
  transition: color 0.2s;
}
.sidebar-toggle-btn:hover {
  color: #1f891f;
}

.sidebar-item.Removed{
  display:none;
}