.line-type-dialogue .line-content {
  flex-direction: row;
}

.script-line {
  margin-bottom: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s;
  border: 1px solid transparent; /* No border for non-active lines */
}

.script-line.active {
  border-color: var(--color-active);
  border-width: 4px;
  border-style: solid;
  box-shadow: 0 4px 12px var(--color-shadow-heavy);
}

.line-type-badge,
.line-meta {
  display: none; /* Hide line type and line number */
}

.line-content {
  display: flex; /* Changed to flex for horizontal alignment */
  align-items: baseline; /* Align first line of dialogue with character name */
}

.character-name {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  color: var(--color-text-muted);
  flex-shrink: 0; /* Prevent character name from shrinking */
  white-space: nowrap; /* Ensure character name stays on one line */
  width: 8rem; /* Fixed width for character name to align dialogue */;
}

.dialogue-text-no-char{
  margin-left: 8rem; /* Indent dialogue when no character name */;
}

.dialogue-text {
  flex-grow: 1; /* Allows dialogue to take up remaining space */
  font-size: 1em;
  line-height: 1.4;
  color: var(--color-text-dark);
  white-space: pre-wrap; /* Preserve whitespace and wrap text */
}



.script-line.dialogue-line.context-sidebar {
  font-size: 8px;
}

.script-line.dialogue-line.context-sidebar .character-name {
  margin: 0;
  font-weight: bold;
  flex-shrink: 0; /* Prevent character name from shrinking */
  white-space: nowrap; /* Ensure character name stays on one line */
  width: unset;
  font-size: unset;
  text-transform: unset;
}

.dialogue-line.context-sidebar .dialogue-text-no-char{
  margin:0; /* Remove indent for dialogue without character name in sidebar */
}