.document-viewer {
  grid-area: viewer;
  flex: 1;
  overflow-y: auto;
  background-color: var(--color-surface); /* Changed to white */
  padding: 1em;
  font-size: 10pt;
}

.document-content {
  
  margin: 0 auto;
}



