/* Line Type Specific Styles */
.line-type-title { border-left-color: var(--line-type-title); }
.line-type-subtitle { border-left-color: var(--line-type-subtitle); }
.line-type-act-heading { border-left-color: var(--line-type-act-heading); }
.line-type-scene-heading { border-left-color: var(--line-type-scene-heading); }
.line-type-character-list { border-left-color: var(--line-type-character-list); }
.line-type-dialogue { border-left-color: var(--line-type-dialogue); }
.line-type-stage-direction { border-left-color: var(--line-type-stage-direction); }

.script-line.line-type-tech-cue .line-content .line-text,
.script-line.line-type-light-cue .line-content .line-text,
.script-line.line-type-sound-cue .line-content .line-text
{
  color: var(--color-text-on-primary);
}

/* Tech Cue */
.script-line.line-type-tech-cue {
  background-color: var(--line-type-tech-cue-bg);
}


/* Sound Cue */
.script-line.line-type-sound-cue {
  background-color: var(--line-type-sound-cue-bg);
  padding: 0 0 0 3px 
}


/* Light Cue */
.script-line.line-type-light-cue {
  background-color: var(--line-type-light-cue-bg);
  padding: 0 0 0 3px 
}

.line-type-blank { border-left-color: var(--line-type-blank); }

/* Specific Line Subtype Styles for Sound Cue */
.script-line.line-type-sound-cue.line-subtype-a {
  background-color: var(--line-type-sound-cue-bg);
}

.script-line.line-type-sound-cue.line-subtype-b {
  background-color: var(--line-type-sound-cue-subtype-b-bg);
}

.script-line.line-type-tech-cue.line-subtype-curtains {
  background-color: var(--line-type-tech-cue-subtype-curtains-bg);
}

.line-type-page-number {
  background-color: var(--line-type-page-number-bg); /* Dark purple for stage directions */
}

/* Specific Line Type Styles */
.line-type-title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  color: var(--color-title); /* Dark blue */
}

.line-type-title.line-subtype-subtitle {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  margin-top: 0.5em;
  color: var(--color-subtitle); /* Indigo */
}

.line-type-scene-heading, .line-type-act-heading {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--color-heading); /* Brown */
  border-bottom: 1px solid var(--color-heading-border); /* Light brown border */
  padding-bottom: 5px;
}

.line-type-stage-direction .line-content {
  font-style: italic;
  text-align: left; /* Changed from centre to left */
  max-width: 70%; /* Ensures centreing with auto margins */
  margin: 0 auto; /* Centre the block */
  color: var(--color-stage-direction); /* Dark purple for stage directions */
}
